/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(85, 16, 91);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 40px;
 }

 li {
    list-style-type: none;
 }

 a {
  text-decoration: none;
 }

 .container {
  padding: 20px 0px;
  margin-bottom: 20px;
 }

 .task-actions {
  display: flex;
  gap: 12px;
 }

 .colored-div-details {
  border: solid;
  border-color: rgb(203, 221, 227);
  background-color: rgb(203, 221, 227);
  min-width: 80%;
  padding-left: 20px;
 }

 .task {
  border: solid  rgb(203, 221, 227) ;
  border-radius: 10px;
  background-color:  rgb(203, 221, 227);
  padding: 1px 6px;
 }

 .task:hover {
  background-color: rgb(242, 239, 239);
  border: solid rgb(242, 239, 239);
 }
